@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base {
    :root {
        --color-one: 14 28 54;
        --color-two: 175 203 255;
        --color-three: 215 249 255;
        --color-four: 249 251 242;
        --color-five: 255 237 225;
    }

    html,
    body,
    body > div {
        height: 100vh;
        width: 100vw;
        background-color: rgb(14, 28, 54);
    }

    body * {
        font-family: quicksand, sans-serif !important;
        line-height: 1.4;
    }
}

.cs-message__content {
    border-radius: 1rem !important;
    color: #0e1c36 !important;
    font-weight: 400 !important;
    padding: 8px 12px !important;
}

.cs-message-input__content-editor {
    color: #0e1c36 !important;
    font-weight: 400 !important;
}

.hide-logo {
    opacity: 0 !important;
}

.show-menu-icon {
    opacity: 1 !important;
}
