{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
    },
    "globals": {
        "window": true,
        "document": true,
        "process": true
    },
    "ignorePatterns": [
        "node_modules/",
        "webpack.*.ts",
        "dist/",
        "build/",
        "packages/",
        "pendo/",
        "postcss.config.ts",
        "tailwind.config.ts"
    ]
}
